//Blog Colors
$blogBorder: 1px solid rgba(204, 204, 204, .3);
$blogBlue: #80C0D1;
$blogOrange: #ff4647;
$blogGray: #4A4A4A;

.blogLink {
  color: $blogBlue;
  font-family: $sansSerif;
  font-weight: $normal;
  text-decoration-color: $blogBlue;
}

#blogBody {
  color: $blogGray;
  #blog {
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: $normal;
    #blogTitle {
      color: $blogBlue;
      font-size: 3.5em;
      letter-spacing: 4px;
    }
    #postContainer {
      margin-top: 4em;
      a {
        color: $blogBlue;
      }
      #postTitle {
        font-weight: $bold;
        font-size: 2.5em;
        padding-top: .5em;
        letter-spacing: 3px;
      }
      #date {
        font-size: 1.5em;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      #authorContainer {
        font-size: 1.75em;
        letter-spacing: 2px;
        #author {
          font-weight: $normal;
          color: $blogBlue;
          margin-left: -1em;
        }
      }
      #description {
        font-family: $serif;
        font-size: 1.75em;
        line-height: 1.65;
      }
    }
  }
}

/* =================================
   Media Query
==================================== */

@media (min-width: 500px) {
  #blogBody {
    #blog {
      #postTitle {
        font-size: 2.75em;
      }
      #date {
        font-size: 1.5em;
      }
    }
  }
}

@media (min-width: 800px) {
  #blogBody {
    #blog {
      width: inherit;
      margin-left: 20%;
      padding: 4em 8em;
      #postTitle {
        font-size: 3em;
      }
      #date {
        font-size: 1.5em;
      }
      #description {
        font-size: 1.65em;
      }
    }
  }
}
